@import '@/assets/style/sizes.scss';

.board {
  border-radius: 12px;
  width: calc(#{$gridSize} * #{$squareSize});
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat($gridSize, $squareSize);
  grid-template-rows: repeat($gridSize, $squareSize);
  grid-auto-flow: row;
}