@import '@/assets/style/sizes.scss';

.square {
  // padding: $squarePadding;
  text-align: center;
  position: relative;
  outline: 0px solid #462921;

  &__black {
    background-color: #b58863;
  }

  &__white {
    background-color: #f0d9b5;
  }

  &__highlighted {
    outline-width: 10px;
    outline-offset: -40px;
    transition: outline-width 0.1s ease-in;
  }

  &__annotation {
    position: relative;
    font-size: 22px;
    font-weight: 600;
    color: #462921;

    &__file {
      margin: auto;
      position: absolute;
      left: 0; right: 0;
      margin-top: 90px;
    }

    &__rank {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin-left: -30px;
    }
  }
}
